<p>llista-quadres works!</p>

<input type="text">
<table border="1">
    <tr>
        <th>Titol</th>
        <th>ID</th>
        <th>Imatge</th>
        <th>Visualitzar</th>
    </tr>
    <tr *ngFor="let quadre of this.quadres">
        <td>
            {{quadre.title}}
        </td>
        <td>
            {{quadre.id}}
        </td>
        <!--<td *ngIf="quadre.thumbnail.lqip != null" >
            <img src="{{quadre.thumbnail.lqip}}" >
        </td>-->
        <td >
            <img src="" >
        </td>
        <td>
            <p (click)="visualitzar(quadre.image_id)">Veure</p>
        </td>
    </tr>
</table>

<br>

<label>
    Documents per plana:
    <input [(ngModel)]="this.documentsPlana" type="text">
</label>

<label>
    Plana    
    <input [(ngModel)]="this.numeroPlana" type="text">
</label>

<button>Accedir</button>

<img [src]="obtenirUrlImatge()" >