<p>llista-quadres works!</p>
<table border="1">
    <tr>
        <th>Titol</th>
        <th>ID</th>
        <th>Imatge</th>
        <th>Visualitzar</th>
    </tr>
    <tr *ngFor="let quadre of this.quadres">
        <td>
            {{quadre.title}}
        </td>
        <td>
            {{quadre.id}}
        </td>
        <td >

        </td>
        <td>
            <button>Veure</button>
        </td>
    </tr>
</table>

<br>

<label>
    Documents per plana:
    <input [(ngModel)]="this.documentsPlana" type="number">
</label>

<label>
    Plana    
    <input [(ngModel)]="this.numeroPlana" type="number">
</label>

<button>Accedir</button>